EXPO_PUBLIC_FIREBASE_API_KEY="AIzaSyBlTTDIybI9YqXxcrtyQfq5VCcRLPFoobk"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="projet-87668.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="projet-87668"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="projet-87668.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=372697923404
EXPO_PUBLIC_FIREBASE_APP_ID=1:372697923404:web:62401b3a0b44c4c23ad9e9
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=votre-client-id.apps.googleusercontent.com




// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyBlTTDIybI9YqXxcrtyQfq5VCcRLPFoobk",
  authDomain: "projet-87668.firebaseapp.com",
  projectId: "projet-87668",
  storageBucket: "projet-87668.firebasestorage.app",
  messagingSenderId: "372697923404",
  appId: "1:372697923404:web:62401b3a0b44c4c23ad9e9"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);